:root,
    /* dark theme number 1 */
    :root.dark1 {
        --background-color: #24184b;
        --text-color: #dda7ff;
        --reverse-text-color: #24184b;
        --accent-1: #563d76;
        --accent-2: #fbd160;
        --accent-3: #1b85a6;
        --filter-color: #dda7ff7e;
        --box-shadow: 0px 0px 15px #dda7ff7e;
        --warning: #b80303;
    }
    /*dark theme number 2 */
    :root.dark2 {
        --background-color: #2f1f45;
        --text-color: #f9e7e7;
        --reverse-text-color: #2f1f45;
        --accent-1: #00416c;
        --accent-2: #b96ac9;
        --accent-3: #f9dbbd;
        --filter-color: #f9e7e77e;
        --box-shadow: 0px 0px 15px #f9e7e77e;
        --warning: #b80303;
    }
    /*dark theme number 3*/
    :root.dark3 {
        --background-color: #312257;
        --text-color: #f9dbbd;
        --reverse-text-color: #312257;
        --accent-1: #502163;
        --accent-2: #ffc680;
        --accent-3: #3c7e85;
        --filter-color: #f9dbbd7e;
        --box-shadow: 0px 0px 15px #f9dbbd7e;
        --warning: #b80303;
    }
    /* light theme number 1 */
    :root.light1{
        --background-color: #f0d9ff;
        --text-color: #2e1f60;
        --reverse-text-color: #f0d9ff;
        --accent-1: #c099d8;
        --accent-2: #e1ba7a;
        --accent-3: #00738a;
        --filter-color: #2e1f607e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px #f0d9ff;
        --warning: #b80303;
    }
    /*light theme number 2 */
    :root.light2 {
        --background-color: #f9e7e7;
        --text-color: #2f1f45;
        --reverse-text-color: #f9e7e7;
        --accent-1: #f9dbbd;
        --accent-2: #b96ac9;
        --accent-3: #00416c;
        --filter-color: #2f1f457e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px var(--accent-2);
        --warning: #b80303;
    }
@media only screen and (min-width: 200px) {
    .current-project-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        row-gap: 0.5em;
        padding: 0.5em;
        margin-top: 1em;
    }
    #area-title {
        text-align: center;
        grid-column: 1 / span 3;
    }
    #project-img {
        justify-self: center;
        /* grid-row: 2 / span 1; */
    }
    #project-img img{
        width: 6em;
        height: fit-content;
    }
    #project-title {
        text-align: center;
        grid-column: span 2;
        justify-self: start;
    }
    #project-summary {
        justify-self: center;
        grid-column: span 3;
    }
}