:root,
    /* dark theme number 1 */
    :root.dark1 {
        --background-color: #24184b;
        --text-color: #dda7ff;
        --reverse-text-color: #24184b;
        --accent-1: #563d76;
        --accent-2: #fbd160;
        --accent-3: #1b85a6;
        --filter-color: #dda7ff7e;
        --box-shadow: 0px 0px 15px #dda7ff7e;
        --warning: #b80303;
    }
    /*dark theme number 2 */
    :root.dark2 {
        --background-color: #2f1f45;
        --text-color: #f9e7e7;
        --reverse-text-color: #2f1f45;
        --accent-1: #00416c;
        --accent-2: #b96ac9;
        --accent-3: #f9dbbd;
        --filter-color: #f9e7e77e;
        --box-shadow: 0px 0px 15px #f9e7e77e;
        --warning: #b80303;
    }
    /*dark theme number 3*/
    :root.dark3 {
        --background-color: #312257;
        --text-color: #f9dbbd;
        --reverse-text-color: #312257;
        --accent-1: #502163;
        --accent-2: #ffc680;
        --accent-3: #3c7e85;
        --filter-color: #f9dbbd7e;
        --box-shadow: 0px 0px 15px #f9dbbd7e;
        --warning: #b80303;
    }
    /* light theme number 1 */
    :root.light1{
        --background-color: #f0d9ff;
        --text-color: #2e1f60;
        --reverse-text-color: #f0d9ff;
        --accent-1: #c099d8;
        --accent-2: #e1ba7a;
        --accent-3: #00738a;
        --filter-color: #2e1f607e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px #f0d9ff;
        --warning: #b80303;
    }
    /*light theme number 2 */
    :root.light2 {
        --background-color: #f9e7e7;
        --text-color: #2f1f45;
        --reverse-text-color: #f9e7e7;
        --accent-1: #f9dbbd;
        --accent-2: #b96ac9;
        --accent-3: #00416c;
        --filter-color: #2f1f457e;
        --box-shadow: 5px 5px 12px #2e1f607e;
        --text-shadow: 0px 0px 10px var(--accent-2);
        --warning: #b80303;
    }
@media only screen and (min-width: 200px) {
    .pb-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .pb-background {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--accent-1);
        width: 90%;
        height: fit-content;
        border-radius: 12px;
        padding: 0.5em 0;
    }
    .pb-background h1 {
        margin: 0.43em 0 0.73em 0;
    }
    .progress-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--accent-3);
        width: 95%;
        height: 37px;
        border: 2px solid var(--accent-2);
        border-radius: 16px;
        box-shadow: var(--box-shadow);
        margin-bottom: 0.8em;
    }
    .percentage {
        display: flex;
        width: 20%;
        height: 35px;
        background-color: var(--accent-2);
        border-radius: 14px 0px 0px 14px;
    }
    .progress-info-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: auto auto    ;
        gap: 0.5em;
        justify-content: center;
    }
    .progress-info h2 {
        justify-content: center;
    }
    .progress-info h2 {
        text-decoration: underline;
        margin: 0.2em 0;
    }
    .added {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding-right: 0.5em;
    }
}